.git
.github
.pytest_cache
.venv
.venv-*
__pycache__
*.pyc
*.pyo
*.pyd
*.log
.DS_Store
node_modules
dist
build
tmp
logs
docs
docker_compose_backup
*.sqlite
*.sqlite3
*.db
data
services/orchestrator/data
